# Апи ключ для получения курса валют
# Необходимо получить ключ на сайте https://marketplace.apilayer.com
API_KEY_EXCHANGE_RATE = apikey

 # Апи ключ для получения информацци по акциям
 # Необходимо получить ключ на сайте https://twelvedata.com
API_KEY_STOCKS = apikey
